<!-- extends from base.html-->
{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}
{% block about %}
active
{% endblock about %}


{% block body %}
<div class="about1">
    <h2>ABOUT</h2>
    <div class="about-box">
        <div class="grid-container">
            <div class="item1">
            </div>
            <div class="item2">
                <svg height="400" width="400">
                    <line x1="0" y1="0" x2="0" y2="250" />
                </svg> 
            </div>
            <div class="item3">
                <p> Hi, I am Manas Ranjan Nag a aspiring Software Engineer. I aim to bring revolutionary changes that can helpful to reduce the problems that are facing by day to day activities of human world. </p>
                <p>As a student, I am persuing Master's degree in Physics in 2021 from Acharya Nagarjuna University. I graduated from Berhampur University and Dr. B.R. Ambedkar University with degrees in (Physics,Mathematics) and Education respectively. </p>
                <p>During my last academic career, I am heavily inspired by Computer Science due to it's vast applications and it's revolutionary contributions to the planet in last 4 decades. Now it is the time of Artificial Inteligence, which can be further helpful with unimaginable ways.
                   So, I can say, I am enthusiastic about Artificial Inteligence and Machine Learning.<br>
                <p>Oftentimes I do programming and in spare time I wander through nature.</p>
            </div>
        </div>
    </div>
</div>


{% endblock body %}

